Repository ruyisdk/ruyi, pull requests merged in 2024-02, with the labels that each got.

#67 Migrate away from tqdm
  .editorconfig
  poetry.lock
  pyproject.toml
  ruyi/ruyipkg/repo.py
  ruyi/utils/git_progress.py
Labels: area: ruyipkg, refactor

#68 Fix python missing on some distros
  ruyi/__main__.py
Labels: refactor

#70 Handle retrying of downloads in Python
  ruyi/ruyipkg/fetch.py
Labels: area: ruyipkg

#71 Allow configuring repo settings via config files
  README.md
  ruyi/config/__init__.py
Labels: area: ruyipkg, refactor, config format change

#72 Make the device provisioner fully repo-driven
  docs/repo-structure.md
  ruyi/device/provision_cli.py
  ruyi/ruyipkg/pkg_manifest.py
  ruyi/ruyipkg/provisioner.py
  ruyi/ruyipkg/repo.py
Labels: repo format change, area: packaging, area: device, pkg: images, refactor

#73 Fix Pygments syntax highlighting
  poetry.lock
  pyproject.toml
  scripts/dist-inner.sh
  scripts/patches/0001-Onefile-Respect-XDG_CACHE_HOME-when-rendering-CACHE_.patch
Labels: area: ruyipkg, refactor

#74 Render news items with slim headings
  ruyi/ruyipkg/news_cli.py
  ruyi/utils/markdown.py
Labels: area: ruyipkg

#75 Experimental Windows CI support
  .github/workflows/dist.yml
  poetry.lock
  pyproject.toml
  resources/ruyi-logo-256.png
  scripts/_dist_version_helper.py
  scripts/dist-inner.py
  scripts/dist.ps1
Labels: area: infra
