Repository ruyisdk/ruyi, pull requests merged in 2024-09, with the labels that each got.

#189 Fix mux operation with Nuitka 2.4
  pyproject.toml
  ruyi/__init__.py
  ruyi/__main__.py
  ruyi/cli/__init__.py
  ruyi/utils/nuitka.py
  scripts/dist.sh
  scripts/patches/nuitka/0001-Onefile-Preserve-the-original-argv-0-in-__compiled__.patch
Labels: area: mux

#190 [0.17.x] Fix mux operation with Nuitka 2.4
  ruyi/__init__.py
  ruyi/__main__.py
  ruyi/utils/nuitka.py
  scripts/dist.sh
  scripts/patches/nuitka/0001-Onefile-Preserve-the-original-argv-0-in-__compiled__.patch
Labels: area: mux

#193 Remove dependency on python-frontmatter
  poetry.lock
  pyproject.toml
  ruyi/ruyipkg/news.py
  ruyi/utils/frontmatter.py
  stubs/frontmatter/__init__.pyi
  stubs/frontmatter/conftest.pyi
  stubs/frontmatter/default_handlers.pyi
  stubs/frontmatter/util.pyi
Labels: area: ruyipkg, refactor

#201 Support upgrading and formatting package manifests
  ruyi/cli/__init__.py
  ruyi/ruyipkg/admin_cli.py
  ruyi/ruyipkg/atom.py
  ruyi/ruyipkg/canonical_dump.py
  ruyi/ruyipkg/pkg_cli.py
  ruyi/ruyipkg/pkg_manifest.py
  ruyi/ruyipkg/repo.py
  ruyi/utils/toml.py
Labels: area: ruyipkg

#185 fix: exception when news contains UTF-8 character
  ruyi/ruyipkg/repo.py
Labels: area: ruyipkg

#202 fix: explicitly specify utf-8 for text file I/O
  ruyi/config/news.py
  ruyi/mux/venv/__main__.py
  ruyi/ruyipkg/admin_cli.py
  ruyi/ruyipkg/repo.py
  scripts/dist-inner.py
Labels: area: ruyipkg, area: mux, area: venv

#203 Basic telemetry
  README.md
  ruyi/cli/__init__.py
  ruyi/cli/version_cli.py
  ruyi/config/__init__.py
  ruyi/mux/runtime.py
  ruyi/pluginhost/api.py
  ruyi/telemetry/__init__.py
  ruyi/telemetry/node_info.py
  ruyi/telemetry/store.py
  ruyi/version.py
Labels: area: mux

#204 Support multiple toolchains in one venv
  ruyi/cli/__init__.py
  ruyi/config/__init__.py
  ruyi/mux/runtime.py
  ruyi/mux/venv/__init__.py
  ruyi/mux/venv/data.py
  ruyi/mux/venv/provision.py
  ruyi/mux/venv/ruyi-cache.toml.jinja
  ruyi/mux/venv/venv_cli.py
Labels: area: mux, area: venv

#205 Better support externally-managed installations
  ruyi/cli/__init__.py
  ruyi/cli/self_cli.py
  ruyi/cli/version_cli.py
  ruyi/config/__init__.py
  ruyi/device/provision_cli.py
  ruyi/mux/venv/venv_cli.py
  ruyi/ruyipkg/news_cli.py
  ruyi/ruyipkg/pkg_cli.py
  ruyi/ruyipkg/profile_cli.py
  ruyi/ruyipkg/update_cli.py
Labels: area: self

#206 Support self-cleaning of various data
  ruyi/cli/__init__.py
  ruyi/cli/self_cli.py
  ruyi/config/__init__.py
  ruyi/telemetry/store.py
Labels: area: self
