Repository ruyisdk/ruyi, pull requests merged in 2025-09, with the labels that each got.

#349 Update README & remove the copyright year
  README.md
  ruyi/version.py
Labels: area: docs

#350 More doc polishes
  .markdownlint.yaml
  CONTRIBUTING.md
  CONTRIBUTING.zh.md
  README.md
  README.zh.md
  docs/dep-baseline.md
  docs/naming-of-devices-and-images.md
  docs/repo-pkg-versioning-convention.md
  docs/repo-structure.md
  resources/release-notes-header-template.md
Labels: area: docs

#356 Print tip for setting up shell completion on first run
  ruyi/cli/cmd.py
  ruyi/cli/completion.py
  ruyi/cli/main.py
  ruyi/cli/oobe.py
  ruyi/telemetry/provider.py
Labels: area: cli

#355 ci: auto trigger ruyi-package-ci on new tag
  .github/workflows/ruyi-package-ci.yml
Labels: area: infra

#358 Tell the user repo update is in progress before syncing
  ruyi/ruyipkg/repo.py
Labels: area: ruyipkg, area: cli

#359 Reject mounted block devices before provisioning with `dd`
  ruyi/device/provision.py
  ruyi/utils/mounts.py
  tests/utils/test_mounts.py
Labels: area: device

#367 Ensure Poetry 1.x metadata consistency and usability
  .github/workflows/auto-tag.yml
  .github/workflows/ci.yml
  contrib/poetry-1.x/poetry.lock
  contrib/poetry-1.x/pyproject.toml
  scripts/lint-poetry-1-metadata.py
Labels: area: infra
